@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

h1 {
  font-weight: 400;
  font-size: 32px;
  color: #020202;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.name-link {
  text-decoration: none;
  color: #020202;
}

.name-link h1 {
  font-weight: 700;
}

.name-link:hover {
  color: gray;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  color: #020202;
}

.social-media {
  display: flex;
  justify-content: right;
  gap: 5px;
  margin-top: 10px;
  margin-right: 10px;
}

.social-media a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  height: 50px;
  overflow: hidden;
}

.social-media a span {
  font-size: 12px;
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.social-media a img {
  width: 30px;
  height: auto;
  margin-bottom: 5px;
}

.social-media a:hover span {
  opacity: 1;
  height: auto;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #020202;
  text-align: center;
}

.sidebar {
  width: 25%;
  background: #ffffff;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.sidebar h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.sidebar h2 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

.sidebar div,
.sidebar ul li {
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  text-align: left;
  list-style-position: inside;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.content {
  width: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.intro {
  text-align: center;
  margin-bottom: 20px;
}

/* Portfolio Grid */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-item img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background: #f1f1f1;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-top: 0px;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-left: 50px;
  }

  .content {
    width: 100%;
  }

  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}

.über-mich {
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  margin-left: auto;
}

.tools {
  width: auto;
  padding: 20px;
  background-color: #fafafa;
  margin-top: 50px;
  margin-bottom: 10px;
}

.werdegang {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #fafafa;
  margin-top: 10px;
}

.über-mich-item {
  width: auto;
  margin-top: 10px;
  margin-bottom: 5px;
}

.date {
  display: flex;
  justify-content: right;
  gap: 5px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: auto;
}

.projekt-link {
  text-decoration: none;
  color: inherit;
}

.projekt-link.active {
  color: #e3a723;
  font-weight: bold;
  text-decoration: underline;
}

.profilbild {
  width: 180px;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
}

.kontakt-button {
  width: 200px;
  height: 36px;
  font-size: 16px;
  background-color: #e3a723;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: auto;
}

.kontakt-button:hover {
  background-color: #222324;
}

.projekte {
  width: 70%;
  padding: 20px;
  background-color: #fafafa;
}

.projekt-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.projekt {
  display: contents;
  align-items: center;
  gap: 20px;
}

.projekt p {
  font-size: 16px;
  color: #333;
  max-width: 400px;
}

h2 a {
  text-decoration: none;
  color: inherit;
}

.video-container {
  width: 782px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.projekt-bild {
  width: 782px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.3s ease;
}

.hamburger-menu.open + .sidebar {
  display: block;
}

.container {
  display: flex;
  gap: 20px;
}

.container .content {
  width: 70%;
  padding: 20px;
  background-color: #fafafa;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .sidebar {
    display: none;
  }

  .sidebar.open {
    display: block;
  }

  .projekt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projekt-bild img {
    width: 50%;
    height: auto;
  }

  .container {
    flex-direction: column;

    display: flex;
    align-items: center;
  }

  .sidebar,
  .content {
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
  }
}

@media (max-width: 360px) {
  .content {
    padding: 5px;
  }

  .projekt-container {
    gap: 10px;
  }

  .projekt img {
    width: 100%;
    height: auto;
  }

  .kontakt-button {
    width: 100%;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f9f9f9;
  color: #020202;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scroll-to-top:hover {
  background-color: #222324;
  color: #f9f9f9;
}

.copyright-text {
  font-size: 12px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .sidebar {
    order: -1;
    padding-bottom: 60px;
  }

  .kontakt-button {
    order: 0;
  }

  .content {
    order: 1;
    margin-top: 6 0px;
  }
}

.section-title {
  display: inline;
  margin-right: 10px;
}

.section-content {
  display: inline;
  font-size: 16px;
}

h2.section-title {
  display: block;
  margin-bottom: 5px;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  flex-shrink: 0;
}

label {
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: vertical;
}
