body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    background-color: #fff;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    color: #020202;
}

h2 {
    font-size: 12px;
    font-weight: 700;
    color: #020202;
}

p {
    font-size: 12px;
    font: weight 400px;;
    color: #020202;
}

.sidebar h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sidebar h2,
.resume h2 {
    font-size: 16px;
    font-weight: 600; 
    margin-top: 20px;
}

.sidebar div,
.sidebar ul li,
.resume ul li {
    font-size: 16px;
    font-weight: 400; 
    margin-left: 10px;
}

.sidebar ul,
.resume ul {
    list-style-type: none;
    padding: 0;
}
