body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  background-color: #fff;
}

h1 {
  font-weight: 400;
  font-size: 32px;
  color: #020202;
}

.name-link {
  text-decoration: none;
  color: #020202;
  & h1 {
    font-weight: 700;
  }
  &:hover {
    color: gray;
  }
}

h2 {
  font-size: 16px;
  font-weight: 700;
  color: #020202;
}

p {
  font-size: 14px;
  font-weight: 400;
  color: #020202;
}

.sidebar {
  & h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  & h2,
  .resume & h2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
  }

  & div,
  & ul li,
  .resume & ul li {
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
  }

  & ul {
    list-style-type: none;
    padding: 0;
  }
}

.projekt-link {
  text-decoration: none;
  color: inherit;
}

.projekt-link.active {
  color: #e3a723;
  font-weight: bold;
  text-decoration: underline;
}

&.hover .projekt-box {
  color: #555;
}

&:hover {
  text-decoration: none;
  color: inherit;
}

.profilbild {
  width: 180px;
  height: auto;
}

.kontakt-button {
  width: 120px;
  height: 36px;
  font-size: 16px;
  background-color: #e3a723;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #222324;
  }
}

.projekt-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.projekt {
  display: flex;
  align-items: center;
  gap: 20px;

  & p {
    font-size: 16px;
    color: #333;
    max-width: 400px;
  }
}

h2 a {
  text-decoration: none;
  color: inherit;
}

.video-container {
  width: 782px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.projekt-bild {
  width: 782px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .sidebar {
    display: none;
  }

  .projekt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projekt-bild img {
    width: 100%;
  }

  .content {
    padding: 10px;
  }

  input,
  textarea {
    max-width: 100%;
  }
}

@media (max-width: 360px) {
  .content {
    padding: 5px;
  }

  .projekt-container {
    gap: 10px;
  }

  .projekt img {
    width: 100%;
    height: auto;
  }

  .kontakt-button {
    width: 100%;
  }
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #f9f9f9;
  color: 020202;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #222324;
    color: #f9f9f9;
  }
}

.copyright-text {
  font-size: 12px;
}
